header {
  width: 100%;
  max-width: 100%;
  padding: 19px 12px;
  background-color: white;
  border: 1px solid #DEDEDE;
}

.header_container {
  max-width: 1299px;
  margin: 0 auto;
  display: flex;
  align-items: center;
}

.search_input {
  height: 50px;
  display: flex;
  margin-left: 20px;

  input {
    border: 1px solid #D4D4D4;
    border-right-color: transparent;
    border-radius: 10px 0 0 10px;
    padding: 15px 20px;
    max-width: 375px;
    width: 375px;

    font-family: Inter;
    font-size: 20px;
  }

  button {
    background-color: white;
    border: 1px solid #D4D4D4;
    border-left-color: transparent;
    border-radius: 0 10px 10px 0;
    height: 100%;
    padding: 0 21px 0 21px;
    cursor: pointer;

    img {
      transition-duration: .2s;
    }

    &:hover {
      img {
        scale: 1.1;
      }
    }
  }
}

.lang {
  background-color: white;
  padding: 6px;
  display: flex;
  align-items: center;
  border: 2px solid #FF8A00;
  border-radius: 10px;
  margin-left: auto;
  cursor: pointer;
  transition-duration: .2s;

  svg path {
    transition-duration: .2s;
  }

  &:hover {
    background-color: #FF8A00;

    svg path {
      stroke: white;
    }
  }
}

.auth_links {
  display: flex;
  gap: 31px;
  margin-left: 41px;
  align-items: center;

  a {
    text-decoration: none;
    font-family: Inter;
    color: black;
    font-weight: 700;
    font-size: 20px;
  }
}

.create_account_link {
  border: 2px solid #FF8A00;
  border-radius: 10px;
  padding: 10px 13px;
  transition-duration: .2s;

  &:hover {
    background-color: #FF8A00;

    color: white;
  }
}

.author_panel {
  margin-left: 41px;
  display: flex;
  align-items: center;
  gap: 36px;
}

.notifications {
  position: relative;

  svg path {
    transition-duration: .3s;
  }

  &:hover {
    svg path {
      fill: #FF8A00;
    }
  }
}

.notifications_length {
  position: absolute;
  left: 50%;
  top: 2px;
  background-color: #FA1818;
  border-color: transparent;
  border-radius: 5px;
  padding: 4px 4px;

  color: white;
  font-family: Inter;
  font-size: 10px;
}

.create_post {
  background-color: white;
  border: 2px solid #FF8A00;
  border-radius: 10px;
  padding: 10px 20px;
  transition-duration: .2s;

  font-family: Carme;
  text-decoration: none;
  color: black;
  font-size: 20px;

  &:hover {
    background-color: #FF8A00;
    color: white;
  }
}

.profile_link {
  border: 1px solid transparent;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;

  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}

.burger_button {
  position: relative;
  margin-left: auto;
  width: 40px;
  height: 40px;
  border: 2px solid #FF8A00;
  background-color: white;
  border-radius: 50%;
  cursor: pointer;

  span {
    position: absolute;
    left: 50%;
    top: 50%;
    translate: -50% -50%;
    display: flex;
    background-color: #FF8A00;
    border-color: transparent;
    border-radius: 10px;
    width: 20px;
    height: 1.5px;
    transition-duration: .2s;

    &::before, &::after{
      position: absolute;
      content: "";
      background-color: #FF8A00;
      border-color: transparent;
      border-radius: 10px;
      width: 20px;
      height: 2px;
      transition-duration: .2s;
    }

    &::before {
      bottom: 6px;
    }

    &::after {
      top: 6px;
    }
  }
}

.burger_button_active {
  span {
    background-color: white;
    &::before {
      bottom: -0.3px;
      rotate: -45deg;
      height: 1.5px;
    }

    &::after {
      top: -0.3px;
      rotate: 45deg;
      height: 1.5px;
    }
  }
}

.burger_menu {
  position: fixed;
  top: 0;
  right: -100%;
  height: 100vh;
  background-color: white;
  border: 1px solid #DEDEDE;
  transition-duration: .2s;
  z-index: 9999;

  ul {
    display: flex;
    flex-direction: column;

    li:not(.burger_profile, .burger_create, .burger_notifications) {
      padding: 35px 57px 25px 27px;
      display: flex;
      align-items: center;
      gap: 18px;
      cursor: pointer;

      font-family: Inter;
      color: black;
      font-weight: 700;
      font-size: 15px;
    }

    li {
      border: 1px solid transparent;
      border-bottom-color: #DEDEDE;
    }

   li:hover {
     .burger_img_el {
       scale: 1.1;
     }
   }
  }
}

.burger_menu_active {
  right: 0;
}

.back_burger {
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  transition-duration: .5s;
  opacity: 0;
  visibility: hidden;
  background-color: rgba(0, 0, 0, 0.24);
}

.active_back_burger {
  opacity: 1;
  visibility: visible;
}

.burger_img_el {
  width: 50px;
  display: flex;
  justify-content: center;
  transition-duration: .2s;
}

.burger_profile_posts {
  margin-top: 4px;

  font-size: 10px;
}

.burger_notifications_img {
  position: relative;
}

.burger_profile, .burger_create, .burger_notifications {
  padding: 0;
  a {
    padding: 35px 57px 25px 27px;
    display: flex;
    align-items: center;
    gap: 18px;
    cursor: pointer;

    font-family: Inter;
    color: black;
    font-weight: 700;
    font-size: 15px;
    text-decoration: none;
  }
}


@media (max-width: 955px) {
  .author_panel, .auth_links, .lang {
    display: none;
  }
}

@media (min-width: 955px) {
  .author_panel, .auth_links, .lang {
    display: flex;
  }

  .burger_button, .burger_menu, .back_burger {
    display: none;
  }
}
