.main_page {
  width: 100%;
  padding: 12px 5px;
  display: flex;
}

.container {
  margin: 0 auto;
  display: flex;
}

.nav_bar {
  ul {
    display: flex;
    flex-direction: column;
    gap: 25px;

    li {
      a {
        display: flex;
        align-items: center;
        gap: 8px;

        font-family: Inter;
        color: black;
        font-size: 15px;
        font-weight: 700;
        text-decoration: none;

        img {
          position: relative;
          top: -2px;
          transition-duration: .2s;
        }

        p {
          position: relative;

          &::before {
            position: absolute;
            content: "";
            bottom: -3px;
            left: 0;
            background-color: black;
            width: 0;
            height: 2px;
            transition-duration: .2s;
          }
        }

        &:hover {
          img {
            scale: 1.1;
          }
          p::before {
            width: 100%;
          }
        }
      }
    }
  }
}

// posts

.blog_container {
  margin-left: 76px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.filter_posts {
  display: flex;
  gap: 46px;

  font-family: Inter;
  color: #575757;
  font-size: 20px;
  font-weight: 700;

  p {
    transition-duration: .2s;
  }
  input {
    display: none;
  }
  input:checked ~ p {
    color: #FF8A00;
  }
  label {
    cursor: pointer;
  }
}

.post {
  max-width: 594px;
  width: 595px;
  background-color: white;
  border: 1px solid #DEDEDE;
}

.bg_post {
  border-color: transparent;
  border-bottom: 1px solid #DEDEDE;
  width: 100%;
}

.post_content {
  padding: 14px 27px;
  width: 100%;
}

.post_author {
  display: flex;
  gap: 4px;

  font-family: Inter;
  color: black;
  font-size: 10px;
  text-decoration: none;
  font-weight: 700;
}

.author_date_info {
  padding-top: 5px;
}

.author_post_date {
  display: inline-flex;
  gap: 5px;

  color: #B0B0B0;
  margin-top: 4px;
}

.post_title {
  max-width: 386px;
  display: flex;
  margin: 6px auto 0 auto;
  cursor: pointer;

  font-family: Inter;
  font-weight: 700;
  color: black;
  text-decoration: none;
  font-size: 20px;
}

.post_hashtags {
  display: flex;
  flex-wrap: wrap;
  gap: 26px;
  max-width: 400px;
  width: 400px;
  margin: 19px auto 0 auto;

  a {
    font-family: Inter;
    font-weight: 700;
    color: black;
    font-size: 12px;
    text-decoration: none;
  }
}

.interaction_panel {
  display: flex;
  max-width: 493px;
  width: 493px;
  margin-left: auto;
  margin-top: 25px;
}

.reactions {
  display: flex;
  gap: 25px;
}

.reaction_smiles {
  position: relative;
  display: flex;

  li:not(:first-child) {
    position: relative;
    right: 10px;
  }
}