.main_page {
  width: 100%;
  padding: 12px 5px;
  display: flex;
}

.container {
  margin: 0 auto;
  display: flex;
}

.nav_bar {
  ul {
    display: flex;
    flex-direction: column;
    gap: 25px;

    li {
      a {
        display: flex;
        align-items: center;
        gap: 8px;

        font-family: Inter;
        color: black;
        font-size: 15px;
        font-weight: 700;
        text-decoration: none;

        img {
          position: relative;
          top: -2px;
          transition-duration: .2s;
        }

        p {
          position: relative;

          &::before {
            position: absolute;
            content: "";
            bottom: -3px;
            left: 0;
            background-color: black;
            width: 0;
            height: 2px;
            transition-duration: .2s;
          }
        }

        &:hover {
          img {
            scale: 1.1;
          }
          p::before {
            width: 100%;
          }
        }
      }
    }
  }
}

// posts

